@import "../../scss/index.scss";

.AdminProfile-content {
    padding: 24px;
    background-color: $primary-color;
  }
  
.content-titu {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    font-size: xx-large;
    font-family: sans-serif;
    color: $secondary-color;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
  
    &-subtitle {
      font-size: x-large;
      font-weight: lighter;
      color: white;
    }
}
  .principle-avatar{
    justify-self: center;
  }

  .ant-row{
    justify-content: center;
    display: grid;
  }
  
  .avatar-col {
    text-align: center;
    display: grid;
    flex-direction: column;
  }
  
  .info-col {
    text-align: center;
  }
  
  .conatiner-info {
    text-align: left;
  }
  
  .label-titulo-info {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .label {
    font-size: 16px;
    margin-top: -10px;
  }
  
  .custom-label {
    font-weight: bold;
  }
  
  .botones-avatar{
    background-color: $secondary-color;
    margin-top: 10px;
    margin-bottom: 20px;
  }
