@import "../../scss/index.scss";

    .UserPage-header {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 50px;
        width: 100%;
        z-index: 1000;
        background-color: $secondary-color;
        padding:0
    }

      .UserPage-content {
        min-height: calc(100vh - 95px);
        padding: 25px 0 0 25px;
        background-color: $primary-color;
      }

  
    .UserPage-footer {
        padding: 25px;
        background-color: $primary-color;
        scroll-behavior: auto;
        width: 100%;
        left:$widthLeftMenu
    }

  