@import "../../scss/index.scss";

.row{
    justify-content: center;
}

.container{
    justify-content: center;
    margin-top: 70px;
}

.ant-row{
    justify-content: center;
}

.datos{
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: black;
    font-size: inherit;
    text-align: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    &-subrayado{
        text-decoration: underline;
  }
}

.div-button{
    display: flex;
    justify-content: space-around;
    margin-top: 3.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.button{
    width: 100px;
}

.logo-edit {
    position: fixed;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    width: 40vw;
    height: auto;
}

.form-container{
    margin-top: 4vw;
    margin-left: 15vw;
    margin-right: 15vw;
}
.ant-form-item-explain-error {
    color: red;
    margin-top: 4px;
  }
  